<a href="/dicom/"><h1>CT-Viewer</h1></a>
<br>

<form action="{% url 'dicom:upload' %}" method="post"
{% if form.is_multipart %}
    enctype="multipart/form-data"
{% endif %}
>
{% csrf_token %}
{{ form.filedata }}
<input type="submit" value="Submit" />
</form>

<h2>DICOM collection</h2>
{% if dicom_list %}
    <ul>
    {% for dicom in dicom_list %}
    <li><a href="/dicom/{{ dicom.id }}/">{{ dicom.base_dir }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Upload your first DICOM!</p>
{% endif %}